* {
    box-sizing: border-box ;
}
.rectangle{
    position: absolute;
    background: #FAFAFA;
    width: 562px;
    height: 818px;
    left: 439px;
    top: 88px;
    border: 1px solid #DCDCDC;
    border-radius: 20px;
}
.hr{
    position: absolute;
    width: 443px;
    height: 0px;
    left: 495px;
    top: 460px;
    border: 1px solid #DDDDDD;
}
.image{
    position: absolute;
    width: 237.95px;
    height: 184.57px;
    left: 595px;
    top: 164px;
    background: url(88.png);
}
.header{
    position: absolute;
    width: 273px;
    height: 40px;
    top: 399px;
    left: 495px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    line-height: 36.31px;
    color: rgba(0, 0, 0, 1);font-style: normal;
}
.paragraph{
    position: absolute;
    width: 443px;
    height: 311px;
    top: 484px;
    left: 495px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: rgba(0, 0, 0, 1);
    font-style: normal;
}
.link{
    position: absolute;
    font-style: normal;
    text-decoration: none;
    width: 108px;
    height: 25px;
    top: 836px;
    left: 834px;
    font-family: 'inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 22.2px;
    color: rgba(80, 118, 255, 1);
}